PATH (REQUIRED):,DESCRIPTION (OPTIONAL):
.config/PlasmaUserFeedback,User Feedback
.config/akregatorrc
.config/Trolltech.conf,Colors
.config/baloofilerc,Baloo file indexer
.config/bluedevilglobalrc,Bluetooth
.config/breezerc,Breeze Theme
.config/device_automounter_kcmrc,
.config/gtk-3.0/*,GTK 3.0
.config/gtk-4.0/*,GTK 4.0
.config/gtkrc,
.config/gtkrc-2.0,GTK 2.0
.config/kaccessrc,Accessibility
.config/kactivitymanagerd-pluginsrc,
.config/kactivitymanagerd-statsrc,Sorting of favourite (most used) applications by activity
.config/kactivitymanagerd-switcher,Activity sorting in the activity switcher (probably as higher the number as more high in the ladder)
.config/kactivitymanagerdrc,Activity meta info
.config/kcmfonts,Fonts
.config/kcminputrc,
.config/kdeconnect,KDE Connect
.config/kded5rc,
.config/kded_device_automounterrc,
.config/kdeglobals,
.config/kfontinstuirc,Fonts
.config/kgammarc,Gamma
.config/kglobalshortcutsrc,
.config/klaunchrc,Launch Feedback
.config/krunnerrc,
.config/krusaderrc,Krusader
.config/kscreenlockerrc,Screen Locker
.config/ksplashrc,Splash Screen
.config/ktimezonedrc,Date & Time
.config/kwinrc,Kwin
.config/kxkbrc,
.config/plasma-localerc,Localization
.config/plasma-org.kde.plasma.desktop-appletsrc,Applets
.config/plasmanotifyrc,Notifications
.config/plasmarc,Plasma
.config/touchpadxlibinputrc,Touchpad (X11)
.config/spectaclerc,Spectacle
.config/kateschemarc,Kate
.config/kconf_updaterc,